language: java

matrix:
  include:
    - os: linux
      jdk: openjdk6
    - os: linux
      jdk: openjdk7
    - os: linux
      jdk: oraclejdk7
    - os: linux
      jdk: oraclejdk8
    - os: osx
      osx_image: xcode7.3

script: mvn verify coveralls:report -DrepoToken=$repo_token_coveralls

after_success:
  - pip install --user codecov
  - codecov -t $repo_token_codecov
