language: java

os: 
  - linux
  - osx

jdk:
  - openjdk6
  - openjdk7
  - oraclejdk7
  - oraclejdk8

matrix:
  include:
    - os: linux
      sudo: required
      dist: trusty
      group: edge
    - os: osx
      osx_image: xcode8      

script: "mvn integration-test"
