version: '{build}'

environment:
  global:
    APPVEYOR_PYTHON_URL: "https://raw.githubusercontent.com/ogrisel/python-appveyor-demo/master/appveyor/"
    PYTHON: "C:\\Python27"
    PYTHON_VERSION: "2.7.x" # currently 2.7.9
    PYTHON_ARCH: "32"
    
  matrix:
    #- JAVA_HOME: C:\Program Files\Java (x86)\jdk1.6.0
    #- JAVA_HOME: C:\Program Files\Java (x86)\jdk1.7.0
    - JAVA_HOME: C:\Program Files\Java (x86)\jdk1.8.0
    #- JAVA_HOME: C:\Program Files\Java\jdk1.6.0
    #- JAVA_HOME: C:\Program Files\Java\jdk1.7.0
    #- JAVA_HOME: C:\Program Files\Java\jdk1.8.0

os: Windows Server 2012

install:
  # Install Maven
  - cmd: choco install maven -y -f
  - cmd: refreshenv

  # Download the Appveyor Python build accessories into subdirectory .\appveyor
  - mkdir appveyor
  - ps: $wc = new-object net.webclient
  - ps: $run = $wc.DownloadString($env:APPVEYOR_PYTHON_URL + 'run_with_env.cmd')
  - ps: $run | Out-File -Encoding ascii -FilePath appveyor\run_with_env.cmd
  - ps: $install = $wc.DownloadString($env:APPVEYOR_PYTHON_URL + 'install.ps1')
  - ps: $install | Out-File -Encoding ascii -FilePath appveyor\install.ps1
  - ps: if (-not(Test-Path($env:PYTHON))) { & appveyor\install.ps1 }
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"

build_script:
  - mvn --batch-mode clean package -DskipTests

test_script:
  - mvn --batch-mode verify

after_test:
  - codecov
